/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --pistachio: #a5d26a;
  --vanilla: #f7df9c;
  --avocado: #5f8a1d;
  --asparagus: #74a533;
  --persian-orange: #de9254;
}

html {
  scroll-behavior: smooth;
}

/* Global container styles */
body {
  overflow: auto; /* Default scrolling */
}

.min-h-screen {
  min-height: 100vh;
}

.bg-gradient-to-b {
  background: linear-gradient(to bottom, #e7f5e8, #d4efdc);
}

.text-green-800 {
  color: #22543d;
}

.text-4xl {
  font-size: 2.25rem;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.p-8 {
  padding: 2rem;
}

/* Motion container */
.relative {
  position: relative;
}


.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* Motion image styling */
.motion-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.object-contain {
  object-fit: contain;
}


.z-10 { z-index: 10; }
.z-20 { z-index: 15; }
.z-30 { z-index: 20; }
.z-40 { z-index: 25; }
.z-50 { z-index: 30; }
.z-60 { z-index: 35; }
